<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="System tests suite">
    <test name="System tests">
        <classes>
            <class name="thesis.testing.system.SystemTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->